.list {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  font-weight: bold;
  & button {
    width: 100px;
    padding: 4px;
    border-radius: 20px;
    border: 2px solid #da5f2d;
    color: #da5f2d;
    font-size: 18px;
    font-family: 'Fira Sans';
    font-weight: 600;
    margin-left: 8px;
    &:hover,
    :focus {
      background-color: #da5f2d;
      color: white;
    }
  }
}
